@model newHQ.Models.MessageViewModel

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myForm", name = "myForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <h2> สร้างข้อมูล @Enum.GetName(typeof(CentralService.Enums.MessageDocType), Model.DocType)</h2>
        </div>
        <div class="card-body">
            @Html.Partial("FormPartial", Model)
        </div>
        <div class="card-footer text-center">
            <input type="submit" value="บันทึก" class="btn btn-success" />
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", new { doctype = (int)Model.DocType })'">กลับ</button>
        </div>
    </div>
}

@section css{
    @Styles.Render("~/Content/daterangepicker")
}


@section scripts {
    @Scripts.Render("~/bundles/daterangepicker")
    @Scripts.Render("~/bundles/message/form")

    <script>
        var pageForm = new MessageForm()
        $(document).ready(function () {
            pageForm.init()
        })
    </script>
}
