@model CentralService.Models.PaymentModel
@{
    ViewBag.Title = "Parment";
    Layout = "~/Views/Shared/_LayoutPromotion.cshtml";
}

<div class="card">
    <div class="card-header main">
        รับชำระเงิน
        <button type="button" id="btnBack" class="btn btn-danger"
                onclick="$('#Cancel').val(true); $('#myForm').submit()">
            ยกเลิก
        </button>
    </div>
    <div class="card-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myForm", name = "myForm" }))
        {
            <div class="row">

                <div class="col-5">
                    @Html.HiddenFor(model => model.CustomerCode)
                    @Html.HiddenFor(model => model.VenderCode)
                    @Html.HiddenFor(model => model.DocNo)
                    @Html.HiddenFor(model => model.RefDocNo)
                    @Html.HiddenFor(model => model.DocCode)
                    @Html.HiddenFor(model => model.PaymentCash)
                    @Html.HiddenFor(model => model.ChangeMoney)
                    @Html.HiddenFor(model => model.CashAmount)
                    @Html.HiddenFor(model => model.PaymentCashNote)
                    @Html.HiddenFor(model => model.Cancel)
                    <div class="card text-white bg-success">
                        <div class="card-body">
                            <p class="text-details">สรุปยอดเงินทั้งหมด (บาท)</p>
                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "input-no-bg text-head-summary money", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="card-group">
                        <div class="card text-white bg-info">
                            <div class="card-body">
                                <p class="text-details">ส่วนลดรวมทั้งหมด (บาท)</p>
                                @Html.EditorFor(model => model.TotalDiscount, new { htmlAttributes = new { @class = "input-no-bg text-head-summary money", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="card text-white bg-warning">
                            <div class="card-body">
                                <p class="text-details">ส่วนลดพิเศษ/ท้ายบิล (บาท)</p>
                                <input type="text" id="txtExtraDiscount" class="input-no-bg text-head-summary money" autocomplete="off" readonly="readonly" value="0" />
                            </div>
                        </div>
                    </div>
                    <div class="card text-white bg-secondary">
                        <div class="card-body">
                            <p class="text-details">ชำระแล้ว (บาท)</p>
                            @Html.EditorFor(model => model.PaymentAmount, new { htmlAttributes = new { @class = "input-no-bg text-head-summary money", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="card text-white bg-danger">
                        <div class="card-body">
                            <p class="text-details">ยอดคงเหลือ (บาท)</p>
                            <input class="input-no-bg text-head-summary money text-box single-line" id="txtBalance" name="txtBalance" readonly="readonly" type="text">
                        </div>
                    </div>
                    <div class="card border-light">
                        <div class="card-header">โปรโมชั่น/ส่วนลดที่ได้รับ</div>
                        <table class="table table-striped table-bordered" id="discount-list" style="width:100%;font-size: 1vw;">
                            <thead>
                                <tr style="line-height: 1vh;">
                                    <th>โปรโมชั่น</th>
                                    <th>จำนวน</th>
                                    <th>ยอดส่วนลด</th>
                                    <th>ลบ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PromotionAndDiscountModalList != null)
                                {
                                    for (int i = 0; i < Model.PromotionAndDiscountModalList.Count(); i++)
                                    {
                                        var promotionDetail = Model.PromotionAndDiscountModalList[i];
                                        <tr>
                                            <td>@promotionDetail.Name</td>
                                            <td>@promotionDetail.Number</td>
                                            <td>@promotionDetail.Money</td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card border-light">
                        <div class="card-header">ข้อมูล Blue Card</div>
                        <div class="card-body">
                            <div class="text-list">
                                <div class="row">
                                    <div class="col-4">
                                        <label>Card Number:</label>
                                    </div>
                                    <div class="col">
                                        @Html.EditorFor(model => model.BlueCardNo, new { htmlAttributes = new { @class = "text-result-bluecard", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label>Balance Points:</label>
                                    </div>
                                    <div class="col-4">
                                        @Html.EditorFor(model => model.BlueCardBalancePoint, new { htmlAttributes = new { @class = "text-result-bluecard number-Integer", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Reward Points:</label>
                                    </div>
                                    <div class="col">
                                        @Html.EditorFor(model => model.BlueCardRewardPoint, new { htmlAttributes = new { @class = "text-result-bluecard number-Integer", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="card border-light">
                        <div class="card-header">เลือกรูปแบบการชำระเงิน</div>
                        <div class="card-body">
                            <div class="text-head">
                                @{
                                    var paymentIconList = Model.PaymentIconList;
                                    <div class="row">

                                        @for (int i = 0; i < 12; i++)
                                        {
                                            if (i < paymentIconList.Count())
                                            {
                                                <div class="col-2 payment-col">
                                                    <a data-toggle="modal" href="#@paymentIconList[i].ModalId" title="@paymentIconList[i].Name">
                                                        <img class="payment-icon" src="~/Content/img/PAYICON/@paymentIconList[i].ImgName">
                                                        @*<label class="text-payment">เงินสด</label>*@
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-2 payment-col">
                                                    <a>
                                                        <img class="payment-icon" src="~/Content/img/PAYICON/icon-09.png">
                                                        <label class="text-payment"></label>
                                                    </a>
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card border-light">
                        <div class="card-header">ส่วนลดพิเศษ</div>
                        <div class="card-body">
                            <div class="text-head">
                                @{
                                    var discountList = Model.DiscountIconList;
                                    <div class="row">
                                        <div class="col-2 discount-col">
                                            <a data-toggle="modal" href="#lastDiscountModal" title="ส่วนลดท้ายบิล" class="card discount-icon">
                                                <label>
                                                    ส่วนลดท้ายบิล
                                                </label>

                                                @*<img class="discount-icon" src="~/Content/img/PAYICON/icon-discount.png" />*@
                                                @*<label class="text-payment">ส่วนลดท้ายบิล</label>*@
                                            </a>
                                        </div>
                                        @for (int i = 0; i < 11; i++)
                                        {
                                            if (i < discountList.Count())
                                            {
                                                <div class="col-2 discount-col">
                                                    <a href="javascript:pageForm.addExtraDiscount('@discountList[i].Name','@discountList[i].Baht','@discountList[i].Percents','@discountList[i].Code');"
                                                       title="@discountList[i].Name"
                                                       class="card discount-icon">
                                                        @{
                                                            if (discountList[i].Baht > 0)
                                                            {
                                                                <label>
                                                                    @discountList[i].Name (@discountList[i].Baht บาท)
                                                                </label>
                                                            }
                                                            else
                                                            {
                                                                <label>
                                                                    @discountList[i].Name (@discountList[i].Percents %)
                                                                </label>
                                                            }
                                                        }
                                                        @*<img class="discount-icon" src="~/Content/img/PAYICON/@discoundIconList[i].ImgName">*@
                                                        @*<label class="text-payment">@discoundIconList[i].Name</label>*@
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-2 discount-col">
                                                    <a>
                                                        <img class="discount-icon" src="~/Content/img/PAYICON/icon-10.png">
                                                    </a>
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered" id="payment-list" style="width:100%;font-size: 1vw;">
                        <thead>
                            <tr style="line-height: 1vh;">
                                <th></th>
                                <th>ประเภทของการชำระ</th>
                                <th>จำนวน</th>
                                <th>เลขบัตร/เอกสารอ้างอิง</th>
                                <th>หมายเหตุ</th>
                                <th>แก้ไข/ลบ</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.DepositModel != null)
                            {
                                <tr>
                                    <td>@Model.DepositModel.Id</td>
                                    <td>เงินมัดจำ</td>
                                    <td>@Model.DepositModel.Money</td>
                                    <td>@Model.DepositModel.DepositNo</td>
                                    <td>@Model.DepositModel.Note</td>
                                    <td>delete</td>
                                    <td>depositModal</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button type="submit" id="btnSubmit" class="btn btn-success" style="margin-left: 45%;">ยืนยัน</button>
                </div>
            </div>
        }
    </div>
</div>

<!-- Modal -->
@Html.Partial("LastDiscountModal")
@Html.Partial("CashModal")
@Html.Partial("CreditEdcModal")
@Html.Partial("CreditCardModal")
@Html.Partial("DepositModal")
@Html.Partial("DeductibleModal")
@Html.Partial("BlueCardModal")
@Html.Partial("LazadaModal")

@section css{
    @Styles.Render("~/Content/datatables-style")
    @Styles.Render("~/Content/payment")
}


@section scripts {
    @Scripts.Render("~/bundles/datatables-script")
    @Scripts.Render("~/bundles/payment")

    <script>
        var pageForm = new IndexForm()
        var cashModal = new CashModal()
        var creditCardModal = new CreditCardModal()
        var depositModal = new DepositModal()
        var deductibleModal = new DeductibleModal()
        var creditEdcModal = new CreditEdcModal()
        var blueCardModal = new BlueCardModal()
        var lazadaModal = new LazadaModal()

        $(document).ready(function () {
            pageForm.addDiscountUrl = '@Url.Action("AddDiscount")'
            pageForm.deleteDiscountUrl = '@Url.Action("DeleteDiscount")'
            pageForm.deletePaymentCreditCardUrl = '@Url.Action("DeletePaymentCredit")'
            pageForm.deleteDepositUrl = '@Url.Action("DeletePaymentDeposit")'
            pageForm.init()

            cashModal.indexForm = pageForm
            cashModal.init()

            creditCardModal.indexForm = pageForm
            creditCardModal.addUrl = '@Url.Action("AddPaymentCredit")'
            creditCardModal.updateUrl = '@Url.Action("UpdatePaymentCredit")'
            creditCardModal.init()

            creditEdcModal.indexForm = pageForm
            creditEdcModal.addUrl = '@Url.Action("AddPaymentCredit")'
            creditEdcModal.updateUrl = '@Url.Action("UpdatePaymentCredit")'
            creditEdcModal.init()

            depositModal.indexForm = pageForm
            depositModal.getUrl = '@Url.Action("GetDepositModels")'
            depositModal.addUrl = '@Url.Action("AddPaymentDeposit")'
            depositModal.init()

            deductibleModal.indexForm = pageForm
            deductibleModal.addUrl = '@Url.Action("AddDiscount")'
            deductibleModal.init()

            blueCardModal.indexForm = pageForm
            blueCardModal.addUrl = '@Url.Action("AddDiscount")'
            blueCardModal.init()

            lazadaModal.indexForm = pageForm
            lazadaModal.addUrl = '@Url.Action("AddDiscount")'
            lazadaModal.init()
        })
    </script>
}

